<h3>Data status as of {{data.asof}}</h3>
<div class="row">
<div class="col-sm-4">

<table class="table">
  <tr>
    <th ng-repeat="header in data.levels.header">{{header}}</th>
    <th>Action</th>
</tr>
  <tr ng-repeat="row in data.levels.rows">
    <td ng-repeat="val in row">{{val}}</td>
      <td>
	<button class="btn btn-default" type="button"
		ng-disabled="row[1]>0"
		ng-click="load(row[0])">Load</button>
      </td>
  <tr>
</table>
</div>
<div class="col-sm-4"> 
<table class="table">
  <tr><th ng-repeat="header in data.prods.header">{{header}}</th></tr>
  <tr ng-repeat="row in data.prods.rows">
    <td ng-repeat="val in row">{{val}}</td>
  <tr>
</table>
</div>
</div>
