<!DOCTYPE html>
<html>
<head>
<!---
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
--->
<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
<script src="/static/angular.min.js"></script>
</head>
<title>Prism</title>
<body>

<div ng-app="prism" ng-controller="prismCtrl">
<nav class="navbar navbar-default">
  <form class="navbar-form navbar-left" role="search" ng-submit="set_asof(asof)">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="asof">
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </form>
</nav>
<br><br>
<img src="/static/img/yc_{{ycdate}}.png">
<table class="table table-striped">
  <tr>
    <th>Type</th>
    <th>Symbol</th>
    <th>Coupon</th>
    <th>Maturity</th>
    <th>Price</th>
    <th>YTM</th>
    <th>Duration</th>
  </tr>
  <tr ng-repeat="x in bnds | orderBy: 'maturity'">
    <td>{{x.type}}</td>
    <td>{{x.symbol}}</td>
    <td>{{x.coupon}}%</td>
    <td>{{x.maturity}}</td>
    <td>{{x.price}}</td>
    <td>{{x.YTM}}</td>
    <td>{{x.duration}}</td>
  </tr>
</table>
</div>
</body>--->
<script src="/static/prism.js"></script>
</html>
